@charset "utf-8";



* {
    box-sizing: border-box;
}


main {
    width: 100%;
    height: auto;
    background-color: #eddec7;
}


#sub {
    width: 1130px;
    height: 600px;
    margin: 0 auto;

    box-sizing: border-box;
    position: relative;


}

#product {
    width: 500px;
    height: 500px;
    background-color: black;
    position: absolute;
    top: 70px;
    left: 30px;
}

#sub>h3 {
    float: right;
    margin: 30px 350px 0px 0px;
    font-size: 20px;
    color: #563723;
    font-family: 'Bree Serif', serif;
}

#main {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 70px;
    right: 30px;
    background-color: #563723;
    text-align: center;
}

#main>.box {
    width: 500px;
    height: 300px;
    margin-top: 50px;
}

.box>h4 {
    color: #eddec7;
    font-family: 'Ms Madi', cursive;
}

.box>h2 {
    color: #eddec7;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}

.box>p {
    color: #eddec7;

}

.box>h3 {
    color: #eddec7;
    font-family: 'Ms Madi', cursive;
}

.box>.gold {
    width: 10px;
    height: 10px;
    background-color: #ad720a;
    border-radius: 5px;
    margin: 35px 10px 10px 10px;
}

.box>.silver {
    width: 10px;
    height: 10px;
    background-color: #c5c6be;
    border-radius: 5px;
    margin: -100px 10px 10px 10px;
}

#sub>table {
    width: 500px;
    height: 200px;
    margin: -50px 10px 10px 0px;
}

#sub>table>tbody {
    width: 500px;
    height: 100px;
    margin: 0 auto;
}

#sub>td {
    color: #e9e9e9;
    padding: 6px 15px;
}

/* td:first-child {width: 100px;} */


#product img {
    width: 500px;
    height: 500px;
}

.b {
    width: 25px;
    height: 25px;
    border-radius: 7px;
    border: 1px solid #e9e9e9;
    background-color: #563723;
    color: #ffeee4;
    margin-left: 40px;
    position: relative;
    left: 110px;
}

.c {
    width: 25px;
    height: 25px;
    border-radius: 7px;
    border: 1px solid #e9e9e9;
    background-color: #563723;
    color: #ffeee4;
    position: relative;
    left: 130px;

}

#result {
    display: inline-block;
    width: 70px;
    position: relative;
    left: 120px;
    color: #eddec7;
}

#sub>.go {
    width: 500px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
}

.go>.skin {
    width: 110px;
    height: 40px;
    background-color: #e9ac97f8;
    border-radius: 15px;
    color: #ffffff;
    float: left;
    /* margin-left: 140px;
        margin-top: 20px; */
    font-family: 'Bree Serif', serif;
    position: relative;
    left: 120px;
    top: 20px;

}

.go>.brown {
    width: 110px;
    height: 40px;
    background-color: #9b5e3e;
    border-radius: 15px;
    color: #ffeee4;
    float: right;
    position: relative;
    font-family: 'Bree Serif', serif;
    left: 165px;
    top: 20px;

}

#wrap {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background-color: #eddec7;
}

#wrap>.bu {
    width: 1100px;
    height: 70px;
    margin: 0 auto;
}

#wrap>.bu>button {
    width: 100px;
    height: 35px;
    margin: 30px 10px 10px 10px;
    font-family: 'GmarketSansLight';
    background-color: #9b5e3e;
    border-radius: 10px;
    color: #ffeee4;
}

#div1 {
    width: 100%;
    height: 2500px;
    margin: 0 auto;
    background-color: #eddec7;
}

#div1>img {
    width: 1100px;
    height: 2500px;
}

#div2 {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    background-color: #eddec7;
}

#div2>.shipping {
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
}

#div2>.shipping>h2 {
    padding: 50px 20px 0px;
    font-size: 30px;
    text-align: center;
    color: #563723;
}

#div2>.shipping>ul {
    display: block;
    width: 1100px;
    height: 280px;
    margin: 35px 35px 0px;
    text-align: center;
    color: #563723;
    ;
}

#div2>.shipping>ul>li {
    font-size: 15px;
    list-style: none;
    margin: 7px 10px;
    text-align: center;
    color: #563723;
}

#div3 {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color: #eddec7;
}

#div3>.review {
    width: 1100px;
    height: 400px;
    margin: 0 auto;
}

#div3>.review>table th {
    width: 80px;
    border-bottom: 1px solid #eee;
    color: #563723;
}

#div3>.review>table td:first-of-type {
    width: 770px;
    border-bottom: 1px solid #eee;
}

#div3>.review>table td:first-of-type>a {
    color: #563723;
}

#div3>.review>table td:nth-of-type(2) {
    width: 80px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

#div3>.review>table td:nth-of-type(3) {
    width: 120px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

#div3>.review>table td:last-of-type {
    width: 150px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

#div3>.review>button {
    float: right;
    margin: 25px 0px;
    width: 120px;
    height: 50px;
    color: #fff;
    font-family: 'GmarketSansLight';
    font-size: 13px;
    background-color: #563723;
    border: 1px solid #ddd;
}

#div3>.review>button:hover {
    cursor: pointer;
}

#div3>.review>table {
    display: inline-block;
    margin: 0px auto;
    border-top: 1px solid #563723;
    line-height: 50px;
    width: 1100px;
    font-size: 14px;
    color: #563723;
}


#div4 {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color: #eddec7;
}

#div4>.qna {
    width: 1100px;
    height: 400px;
    margin: 0 auto;
}

#div4>.qna>table th {
    width: 80px;
    border-bottom: 1px solid #eee;
    color: #563723;
}

#div4>.qna>table td:first-of-type {
    width: 770px;
    border-bottom: 1px solid #eee;
}

#div4>.qna>table td:first-of-type>a {
    color: #563723;
}

#div4>.qna>table td:nth-of-type(2) {
    width: 80px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

#div4>.qna>table td:nth-of-type(3) {
    width: 120px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

#div4>.qna>table td:last-of-type {
    width: 150px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

#div4>.qna>button {
    float: right;
    margin: 25px 0px;
    width: 120px;
    height: 50px;
    color: #fff;
    font-size: 13px;
    font-family: 'GmarketSansLight';
    background-color: #563723;
    border: 1px solid #ddd;
}

#div4>.qna>button:hover {
    cursor: pointer;
}

#div4>.qna>table {
    display: inline-block;
    margin: 0px auto;
    border-top: 1px solid #563723;
    line-height: 50px;
    width: 1100px;
    font-size: 14px;
    color: #563723;
}



